*{
    margin: 0;
    padding: 0;
    font-family: "Prompt";
}

@font-face {
    font-family: "Prompt";
    src: url(../font/Prompt-Black.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;1,200&family=Roboto:wght@400;700&display=swap');

/* paginas */
nav {
    background-color: #DDE5BE;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
}


ul li {
    list-style: none;
    margin: 10px;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #73141B;
}

a:hover {
    color: black;
}

nav .fa-solid {
    display: none;
}

h1 {
    font-family: "Prompt";
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

main {
    background-color: #DEB299;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #DDE5BE;
    height: 100px;
}

footer a {
    padding: 10px;
    margin: 10px;
}

.redes:hover {
    color: black;
}

.redes {
    color: #73141B;
    text-decoration: none;
}

.h2nav {
    color: #73141B;
    margin: 10px;
    left: 60px;
    position: absolute;
}

@media (max-width: 320px){

    nav .fa-solid {
        display: block;
        font-size: 30px;
        margin: 15px;
        color: #73141B;
    }

    nav ul{
        flex-direction: column;
        position: none;
        background-color: #DDE5BE;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        align-items: center;
        right: -250px;
        transition: 0.2s;
    }

    .logo {
        width: 20px;
        height: 20px;
        margin: 5px;
        left: 5px;
        position: absolute;
    }

    .h2nav{
        display: none;
    }
}

@media (max-width: 768px){
   
    nav .fa-solid {
        display: block;
        font-size: 30px;
        margin: 15px;
        color: #73141B;
    }

    nav ul{
        position: absolute;
        flex-direction: column;
        background-color: #DDE5BE;
        width: 25%;
        height: 100%;
        padding-top: 60px;
        align-items: center;
        right: -190px;
        transition: 0.2s;
    }

    nav ul li a{
        font-size: 15px;
    }

    nav .fa-solid:hover + ul{
        right: 0;
    }

    nav ul:hover {
        right: 0;
    }

    .logo {
        position: absolute;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    }

@media (max-width: 320px){
    .logo {
        width: 20px;
        height: 20px;
        margin: 5px;
        left: 5px;
        position: absolute;
    }

    .h2nav{
        display: none;
    }
}

/*index*/

.logo {
    width: 50px;
    height: 50px;
    margin: 5px;
    left: 5px;
    position: absolute;
}

.portada {
    width: 100%;
    height: 300px;
}

.gridIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "h1 h1 img"
    "p p img"
    "p p img";
}

.gridH1 {
    grid-area: h1;
    padding-left: 200px;
    margin-top: 10px;
}

.gridPindex {
    grid-area: p;
    margin: 10px;
    padding: 10px;
}

.imgIndex {
    height: auto;
}

.gridIindex {
    grid-area: img;
}

@media (max-width: 768px){

    .portada {
        width: 400px;
        height: 200px;
    }

    .gridIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "h1 h1 h1"
        "img img img"
        "p p p";
    }

    .gridH1 {
        margin: auto;
        padding: 20px;
    }

    .gridPindex {
        grid-area: p;
        margin: 10px;
        padding: 10px;
    }


    .gridIindex {
        grid-area: img;
        margin: auto;
    }

}

@media (max-width: 320px){
    nav .fa-solid {
        display: block;
        font-size: 20px;
        margin: 15px;
        color: #73141B;
    }

    nav {
        background-color: #DDE5BE;
        height: 50px;
        width: 100%;
    }

    nav ul li {
        flex-direction: column;
        position: absolute;
        background-color: #DDE5BE;
        width: 250px;
        height: 100px;
        padding-top: 60px;
        align-items: center;
        right: -300px;
        transition: 0.2s;
    }

    nav .fa-solid:hover + ul li {
        right: 0;
    }

    nav ul:hover {
        right: 0;
    }

    .logo {
        width: 40px;
        height: 40px;
        position: absolute;
    }

    .imgIndex {
        width: 300px;
        height: 300px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    footer {
        height: 200px;
        justify-content: center;
    }

}

/*albums*/

.mainAlbums {
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-evenly;
}

.h1Albums {
    text-align: center;
    background-color: #DEB299;
}

.card {
    width: 20rem;
 }

@media (max-width: 780px){
    .mainAlbums {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 600px;
     }
}

@media (max-width: 320px){
    .card {
        width: 300px;
    }
}

/*colaboraciones*/
.h2Col {
    color: #73141B;
    text-decoration: underline;
}
.imgCol {
    width: 600px;
    height: 600px;
}
.collage {
    width: 100%;
    height: 600px;
}
@media (max-width: 780px){
    .imgCol {
        width: 400px;
        height: 400px;
    }
}
@media (min-width: 320px){
    .collage {
        height: 300px;
    }
    .imgCol {
        width: 200px;
        height: 200px;
    }
    .fa-bounce {
        font-size: 20px;
    }
}
/*galeria*/

.imgGaleria {
    width: 300px;
    height: 300px;
}

/*contacto*/

.h1Contacto {
    text-align: center;
    padding-top: 50px;
}

.pContacto{
    text-align: center;
    padding-top: 20px;
}

.fuenteContacto {
    font-family: "Prompt";
    font-size: 15px;
    color: black;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: solid 3px;
    color: #73141B;
    padding: 20px;
}

.formulario {
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 50px;
}

.tya {
    padding: 10px;
    text-align: center;
}

@media (max-width: 320px) {

    .h1Contacto {
        padding-top: 0;
    }

    .pContacto {
        padding: 0;
    }

    .formulario {
        width: 250px;
        height:500px;
        margin: 0;
        padding: 0;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        color: #73141B;
        padding: 0;
        margin: 10px;
    }

    textarea {
        width: 300px;
        height: 100px;
    }

    .tya {
        padding: 5px;
    }
}